@charset "UTF-8";
@font-face {
  font-family: 'Gugi';
  src: url('https://cdn.jsdelivr.net/gh/FuseFairy/fonts-cdn/fonts/Gugi.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Kose';
  src: url('https://cdn.jsdelivr.net/gh/FuseFairy/fonts-cdn/fonts/XiaolaiMonoSC-Regular.woff2') format('woff2');
  font-display: swap;
}
