@font-face {
  font-family: 'Gugi';
  src: url('@/assets/font/Gugi.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Kose';
  src: url('@/assets/font/XiaolaiMonoSC-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'kaiu';
  src: url('@/assets/font/kaiu.woff') format('woff');
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  font-family: 'LXGW WenKai Mono TC', 'Noto Sans TC', sans-serif;
  font-weight: 400;
  font-style: normal;
}

img {
  -webkit-user-drag: none;
  pointer-events: none;
}
